@font-face {
  font-family: "iconfont"; /* Project id 3345878 */
  src: url('iconfont.woff2?t=1650461532598') format('woff2'),
       url('iconfont.woff?t=1650461532598') format('woff'),
       url('iconfont.ttf?t=1650461532598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-juejin:before {
  content: "\e667";
}

